/* Manu/Nav Bar */

.aux-nav-top-container{
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
}
.logo-nav-top img{
  width: 80%;
}
.nav-link-cart{
  color: black;
}
.nav-link-cart:hover{
  color: black;
  opacity: 60%;
}
.container-fluid{
  flex-direction: column;
}
.nav-item{
  padding: 0px 60px;
}
.nav-item:hover{
  background-color: black;
  opacity: 60%;
}
.navbar-toggler{
  background-color: white;
}
.navbar-expand-lg{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-link-cart *{
  margin: 0px 20px
}

.navbar{
    background-color: black !important;
  }
  
  .nav-link {
    font-size: 18px;
    color: white !important;
  }
  .navbar-brand{
    letter-spacing: 2px;
  }
  .bagaStore-p{
    text-align: center !important;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@media screen and (max-width: 991px) {
  .container-fluid{
    flex-direction: row;
  }
}
@media screen and (max-width: 470px) {
  .aux-nav-top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
  }
  .logo-nav-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .logo-nav-top img{
    width: 70%;
  }
  .nav-link-cart *{
    font-size:30px !important;
    margin: 0px 30px
  }
}
